{% extends 'content.html.twig' %}

{% block title %}Mon compte {% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="alert alert-success">
                    {{ flash_message }}
                </div>
            {% endfor %}
            <div class="col-lg-12">
                <h1 class="page-header">Modifier son compte</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Informations de compte
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <form role="form" action="{{ path('sos_user_account_edit') }}" method="post">
                                    <fieldset>
                                        {{ form_start(form) }}
                                        {{ form_row(form.username) }}
                                        {{ form_row(form.email) }}
                                        <div class="form-group">
                                            <div class="panel panel-default panel-body">
                                                Saisir votre mot de passe pour valider les modifications.
                                                {{ form_row(form.plainPassword) }}
                                                {{ form_row(form.plainPassword) }}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-lg btn-success btn-block">Modifier ses informations</button>
                                        </div>
                                        {{ form_end(form) }}
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}